Flask==1.0.2
pandas==0.23.3
numpy==1.22.0
gunicorn==19.7.1
tweepy==3.6.0
bs4==0.0.1
emoji_data_python==1.1.0
textblob==0.15.1
vaderSentiment==3.2.1
lxml==4.2.4
google-cloud-language==1.0.2
facebook-sdk==3.0.0
passlib==1.7.1
requests==2.20.0
flask-login==0.4.1
