{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h2>About the App</h2>
  <p class="lead" style="text-align:justify">
    The aim of this App is to gain insights into public opinion
    and its potential impact on businesses by leveraging social media
    and survey data.
    Cutting-edge Natural Language Processing technologies are utilized
    to conduct sentiment analysis. Results are displayed on our
    visualization platform.</p>
  <p class="lead" style="text-align:justify">
    The following channels are currently supported:</p>
  <ul>
    <li style="font-size:18px">Twitter</li>
    <li style="font-size:18px">Facebook</li>
    <li style="font-size:18px">OzBargain</li>
  </ul>
</div>
{% endblock %}